* {
    box-sizing: border-box;
  }
.container{
    margin:0 auto;
    max-width: 850px;
    width: 80%;
}

.logoimage {
    width: 25%;
    float: left;
}

.nameheading {
    width: 75%;
    float: left;
    padding-left: 345px;
    color: grey;
    font-family: sans-serif;
}
.jane{
    letter-spacing: 0.3rem;
}

.subheading{
    padding-left: 100px;
}

hr{
    color: black;
    line-height: 10px;
}

/* .imgMain{
    object-fit: fill;.

} */

.imgMain::before {
    content:"";
    clear: both;
    display: block;    
    }

.photo{
    height: auto;
    width:auto;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {
    width: 33.33%;
    float:left;
}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.gallery {
    margin: 20px;
    border: 1px solid #ccc;
    float: left;
    width: 242px;
  }

  .img1 {
    width: 100%;
    height: auto;
  }

  .sec1 {
    width: 100%;
    height: auto;    
    display: flex;
  
}

  .sec2 {
    width: 100%;
    margin-bottom: 20px;
}

.imgNew {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.detail {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.img1 {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;   
}

.foottext{
    font-family: sans-serif;
    color: grey;
    letter-spacing: 0.2rem;
}

.feature{
    color: grey;
    letter-spacing: 0.2rem;
    font-family: sans-serif;
}

p{
    color: grey;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }

    .imgMain{
        margin: 0 auto;
        max-width: 768px;
        width:100%;
        float:left;
        padding-bottom: 20px;
        padding-right:40px;
    }

    .logoimage {
        width: 25%;
        float: left;
    }
    
    .nameheading {
        width: 75%;
        float: left;
        padding-left: 150px;
        color: grey;
        font-family: sans-serif;
    }

    .img1 {
        display: block;
        width: 100%;
        max-width: 768px;
        height: 200px;   
    }

    .sec1{
        padding-right: 400px;
    }
}
